@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);











#ext_menu-9 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-9 .navbar-caption {
  color: #ffffff;
}
#ext_menu-9 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-9 .close-icon::before,
#ext_menu-9 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-9 .link,
#ext_menu-9 .dropdown-item {
  color: #ffffff;
}
#ext_menu-9 .link {
  font-size: 0.6rem;
}
#ext_menu-9 .dropdown-item,
#ext_menu-9 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-9 .link:hover,
#ext_menu-9 .dropdown-item:hover,
#ext_menu-9 .link:focus,
#ext_menu-9 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-menu {
  background: #000000;
}
#ext_menu-9 .nav-dropdown-sm .link:focus,
#ext_menu-9 .nav-dropdown-sm .link:hover,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-9 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-9 .navbar,
#ext_menu-9 .nav-dropdown-sm,
#ext_menu-9 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-9 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-9 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-9 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-9 .bg-color.transparent.opened .link:hover,
#ext_menu-9 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-9 .link[aria-expanded="true"],
#ext_menu-9 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#slider-53 H2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}
#msg-box5-3 H3 {
  font-size: 36px;
}
#msg-box5-3 SPAN {
  color: #931f1d;
}
#msg-box5-3 P {
  font-family: 'Open Sans', sans-serif;
}
#content5-49 .mbr-section-title,
#content5-49 p {
  color: #fff;
}
#content5-49 .mbr-section-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#features7-0 .card-subtitle {
  color: #bcbcbc;
}
#features7-0 .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features7-0 P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#features7-0 H4 {
  font-family: 'Open Sans', sans-serif;
}
#features7-1 .card-subtitle {
  color: #bcbcbc;
}
#features7-1 .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features7-1 P {
  font-family: 'Open Sans', sans-serif;
}
#features7-1 H4 {
  font-family: 'Open Sans', sans-serif;
}
#contacts3-0 .list-group-text {
  font-family: 'Lato', sans-serif;
}
#contacts3-0 SPAN {
  font-family: 'Open Sans', sans-serif;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
#footer1-2 P {
  font-family: 'Open Sans', sans-serif;
}

#ext_menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-10 .navbar-caption {
  color: #ffffff;
}
#ext_menu-10 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-10 .close-icon::before,
#ext_menu-10 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-10 .link,
#ext_menu-10 .dropdown-item {
  color: #ffffff;
}
#ext_menu-10 .link {
  font-size: 0.6rem;
}
#ext_menu-10 .dropdown-item,
#ext_menu-10 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-10 .link:hover,
#ext_menu-10 .dropdown-item:hover,
#ext_menu-10 .link:focus,
#ext_menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-menu {
  background: #000000;
}
#ext_menu-10 .nav-dropdown-sm .link:focus,
#ext_menu-10 .nav-dropdown-sm .link:hover,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-10 .navbar,
#ext_menu-10 .nav-dropdown-sm,
#ext_menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-10 .bg-color.transparent.opened .link:hover,
#ext_menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-10 .link[aria-expanded="true"],
#ext_menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box5-0 H3 {
  text-align: center;
  font-size: 30px;
}
#msg-box5-0 P {
  text-align: left;
}
#features4-1 .card-subtitle {
  color: #bcbcbc;
}
#features4-1 .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features4-1 H4 {
  font-size: 30px;
}
#features4-1 P {
  font-size: 17px;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-size: 30px;
}
#footer1-101 P {
  font-family: 'Open Sans', sans-serif;
}

#header4-99 H1 {
  font-size: 60px;
  text-align: right;
  color: #000000;
}
#ext_menu-100 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-100 .navbar-caption {
  color: #ffffff;
}
#ext_menu-100 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-100 .close-icon::before,
#ext_menu-100 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-100 .link,
#ext_menu-100 .dropdown-item {
  color: #ffffff;
}
#ext_menu-100 .link {
  font-size: 0.6rem;
}
#ext_menu-100 .dropdown-item,
#ext_menu-100 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-100 .link:hover,
#ext_menu-100 .dropdown-item:hover,
#ext_menu-100 .link:focus,
#ext_menu-100 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-100 .link[aria-expanded="true"],
#ext_menu-100 .dropdown-menu {
  background: #000000;
}
#ext_menu-100 .nav-dropdown-sm .link:focus,
#ext_menu-100 .nav-dropdown-sm .link:hover,
#ext_menu-100 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-100 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-100 .navbar,
#ext_menu-100 .nav-dropdown-sm,
#ext_menu-100 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-100 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-100 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-100 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-100 .bg-color.transparent.opened .link:hover,
#ext_menu-100 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-100 .link[aria-expanded="true"],
#ext_menu-100 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#footer1-101 P {
  font-family: 'Open Sans', sans-serif;
}
#features3-102 H4 {
  font-size: 21px;
}

#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.6rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header4-0 H1 {
  font-size: 60px;
}
#header4-0 .mbr-section-title {
  text-align: center;
}
#features4-0 .card-subtitle {
  color: #bcbcbc;
}
#features4-0 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features7-0 .card-subtitle {
  color: #bcbcbc;
}
#features7-0 .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features3-0 H4 {
  font-size: 21px;
}
#features3-1 H6 {
  font-size: 20px;
}
#features3-1 SPAN {
  font-size: 21px;
}
#footer1-0 P {
  font-family: 'Open Sans', sans-serif;
}

#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.6rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header4-0 H1 {
  font-size: 60px;
}
#features3-0 H4 {
  font-size: 21px;
}
#features3-1 H6 {
  font-size: 20px;
}
#features3-1 SPAN {
  font-size: 21px;
}
#footer1-0 P {
  font-family: 'Open Sans', sans-serif;
}






#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.6rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-0 .mbr-section-lead {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#header1-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#features3-0 P {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}
#features3-0 H4 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
}
#footer1-0 P {
  font-family: 'Open Sans', sans-serif;
}

#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.6rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box7-0 .mbr-section-title,
#msg-box7-0 .lead p {
  color: #fff;
}
#footer1-0 P {
  font-family: 'Open Sans', sans-serif;
}






#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
}
#ext_menu-0 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #ffffff;
}
#ext_menu-0 .link {
  font-size: 0.6rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 0.650rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#slider-0 P {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
#slider-0 H2 {
  font-family: 'Open Sans', sans-serif;
}
#features7-0 .card-subtitle {
  color: #bcbcbc;
}
#features7-0 .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features7-0 P {
  font-family: 'Open Sans', sans-serif;
}
#features7-0 H4 {
  font-family: 'Open Sans', sans-serif;
}
#social-buttons4-0 .mbr-section-title,
#social-buttons4-0 .btn-social {
  color: #fff;
}
#social-buttons4-0 .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#footer1-0 P {
  font-family: 'Open Sans', sans-serif;
}
