
canvas {
    display: none;
}
video, #photo, #startbutton {
    display: block;
    float: left;
    border: 10px solid #fff;
    border-radius: 10px;
}
#startbutton,#savebutton {
    border: none;
    margin: 100px 20px 20px 20px;
    padding: 10px 20px;
    font-size: 20px;
}

video,#photo{
   background: black; 
   width: 350px;
   height: 300px;
}