.fa-mid {
    font-size: 1.5em;
    padding-right:10px;
}

.visit-info {
    border-bottom-style: solid;
    border-width: 1px;
    padding-top:10px;
    padding-bottom:10px;
}
 
.fa-mid-red {
  color: red;
  font-size: 1.5em;
  padding-right:10px;
}

.fa-mid-warning {
  color: orange;
  font-size: 1.5em;
  padding-right:10px;
}